.todo-list{
    margin-top: 50px;
}
hr{
    display: block;
    margin-top: -8px;
    margin-left: 30px;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
    background-color: black;
}

.todo-list .card{
    border: none;
    margin-top: 5px;
    background-color: #f8f8f8;
}

.todo-tools{
    display: none;
}

.todo-tools i{
    margin: 0px 5px;
    cursor: pointer;
}

.todo-list .card:hover{
    cursor: pointer;
    width: 600px;
    height: 80px;
    margin-left: -20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.todo-list .card:hover .todo-tools{
    display: inline;
}

i{
    margin-right: 20px;
}

